$form-color: #D9D9D9;

.log-in__form {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.log-in__input {
    display: flex;
    flex-direction: column;
    position: relative;
    & input {
        background-color: rgba(4,7,31,1);
        border-radius: 30px;
        border: 1px solid $form-color;
        color: $form-color;
        font-weight: 100;
        font-size: 20px;
        padding: 15px 25px;
        box-shadow: 0 0 5px #fff;
        transition: box-shadow .5s;
        &:focus {
            box-shadow: 0 0 20px #fff;
        }
    }
    & img {
        position: absolute;
        width: 25px;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        & input {
            box-shadow: 0 0 20px #fff;
        }
    }
    
}

.log-in__submit-btn {
    background-color: #2A2C69;
    border: none;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(4,7,31,.25);
    color: #868686;
    font-size: 24px;
    padding: 13px 0;
    will-change: transform;
    transition: color .5s, transform .5s .4s, text-shadow .5s .4s;
    &:hover {
        color: #fff;
        transform: scale(1.1);
        text-shadow: 0 0 3px #fff;
    }
}

.log-in__forgot-password {
    position: relative;
    left: 25px;
    top: 30px;
    align-self: flex-start;
    & a {
        color: #464AAC;
        text-decoration: none;
    }
    & span {
        background-color: #464AAC;
        height: 1px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        transition: width .5s;
    }
    &:hover {
        & span {
            width: 0%;
        }
    }
}



@media (max-width: 450px) {
    .log-in__input {
        & input {
            font-size: 15px;
        }
        & img {
            width: 20px;
            right: 20px;
        }
    }
    .log-in__submit-btn {
        font-size: 20px;
    }
    .log-in__forgot-password {
        & a {
            font-size: 14px;
        }
    }
}