$bg-color: #04071F;
$login-font: "Montserrat", sans;
//margin variable
.log-in{
    height: 100vh;
    position: relative;
    font-family: $login-font;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    .logo {
        font-size: 64px;
        margin-left: 20px;
    }
}

.log-in__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    &_left {
        padding: 0 calc(50%/4);
    }
}

@media (max-width: 1100px) {
    .log-in__wrapper {
        &_left {
            max-width: 70vw;
            position: relative;
            z-index: 1;
        }
        &_right {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

@media (max-width: 700px) {
    .log-in__wrapper {
        &_left {
            max-width: 85vw;
        }
        &_right {
            display: block;
            height: 100vh;
            & * {
                height: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    .log-in__wrapper {
        &_left {
            max-width: 100vw;
        }
        &_right {
            height: 100%;
        }
    }
}